In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('credit_score_ds_1.csv')
df.head()

,month,age,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,num_of_loan,num_credit_inquiries,credit_history_age,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,1,23.0,5,19114.12,1824.843333,3.0,4.0,4.0,4.0,265.0,21.46538,5,312.494089,0
1,2,23.0,5,19114.12,1824.843333,3.0,4.0,4.0,4.0,266.0,21.46538,6,284.629162,0
2,3,23.0,5,19114.12,1824.843333,3.0,4.0,4.0,4.0,267.0,21.46538,3,331.209863,0
3,4,23.0,5,19114.12,1824.843333,3.0,4.0,4.0,4.0,268.0,21.46538,1,223.451310,0
4,5,23.0,5,19114.12,1824.843333,3.0,4.0,4.0,4.0,269.0,21.46538,2,341.489231,0

In [3]:
mpl.style.use(['ggplot'])

In [17]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

x = df.drop('credit_score', axis=1)
norm_x = preprocessing.normalize(x)
names = x.columns
scaled_norm_x = pd.DataFrame(norm_x, columns=names)
y = df['credit_score']

x_train, x_test, y_train, y_test = train_test_split(scaled_norm_x, y, random_state = 84)

In [18]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state = 84).fit(x_train, y_train)

In [19]:
predict_test = model.predict(x_test)
predict_train = model.predict(x_train)

In [20]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, predict_test))
print(roc_auc_score(y_train, predict_train))

0.5
0.5